Repository tikv/community, pull requests merged in 2020-10, with the labels that each got.

#86 Remove useless line
  .github/community-bot.yml
Labels: status/LGT2, status/can-merge

#87 Migrate to json for sig-transaction membership
  sig/transaction/membership.json
  sig/transaction/membership.md
Labels: status/LGT1, status/can-merge

#89 Migrate to json for sig-coprocessor membership
  sig/coprocessor/membership.json
  sig/coprocessor/membership.md
Labels: status/LGT1, status/can-merge

#90 Fix some broken links
  sig/transaction/README.md
  sig/transaction/constitution.md
Labels: status/LGT1

#91 Migrate to json for sig-engine membership
  sig/engine/membership.json
  sig/engine/membership.md
Labels: status/LGT1, status/can-merge

#92 Migrate to json for sig-scheduling membership
  sig/scheduling/membership.json
  sig/scheduling/membership.md
Labels: status/LGT1, status/can-merge

#94 Promote skyzh to coLeader
  sig/coprocessor/membership.json
Labels: status/LGT2, status/can-merge

#88 promote Ning Lin to a committer
  sig/raft/membership.json
Labels: status/LGT2, status/can-merge
