Repository tikv/community, pull requests merged in 2020-11, with the labels that each got.

#97 Correct member ID
  sig/raft/membership.json
Labels: status/LGT1, status/can-merge

#98 Add hunterlxt (Xintao Liu) as sig-engine committer
  sig/engine/membership.json
Labels: status/LGT2

#101 Rename Rustin-Liu to hi-rustin
  sig/coprocessor/membership.json
Labels: status/LGT1, status/can-merge

#100 Promote @Xuanwo to Coprocessor active contributor
  sig/coprocessor/membership.json
Labels: status/LGT1, status/can-merge

#102 Refine sigs membership link
  sig/coprocessor/README.md
  sig/coprocessor/charter-zh_CN.md
  sig/coprocessor/charter.md
  sig/engine/README.md
  sig/engine/constitution-zh_CN.md
  sig/scheduling/README.md
  sig/scheduling/constitution-zh_CN.md
  sig/scheduling/constitution.md
  sig/transaction/README.md
  sig/transaction/constitution-zh_CN.md
  sig/transaction/constitution.md
Labels: status/LGT1

#103 transaction: Promote @you06 to reviewer
  sig/transaction/membership.json
Labels: status/LGT2, status/can-merge
