Repository tikv/community, pull requests merged in 2021-09, with the labels that each got.

#141 vote: gozssky as TiKV reviwer
  teams/tikv/team.json
  votes/0141-gozssky-as-tikv-reviewer.md
Labels: status/LGT1, status/LGT2, status/can-merge

#142 Revert "vote: gozssky as TiKV reviwer"
  teams/tikv/team.json
  votes/0141-gozssky-as-tikv-reviewer.md
Labels: status/LGT1

#143 votes: include deadline for template so that emphasize the minimal length of duration
  votes/TEMPLATE.md
Labels: status/LGT1

#144 vote: gozssky as TiKV reviwer
  teams/tikv/team.json
  votes/0141-gozssky-as-tikv-reviewer.md
Labels: status/LGT1, status/can-merge

#145 vote: BusyJay as PD reviewer
  teams/pd/team.json
  votes/0145-busyjay-as-pd-reviewer.md
Labels: status/LGT1, status/can-merge

#147 Add sig-migrate's reviewers
  teams/tikv/team.json
  votes/0147-3pointer-and-glorv-as-tikv-reviewers.md
Labels: status/LGT1, status/can-merge
